:root {
--primary-text-color: #212121;
--ptext-color: #757575;
--accent-color: #2196F3;
--logofirst-color: #000000;
--button-color: #FFFFFF;
--buttonbg-color: #2196F3;
--herobg-color: #2F303A;
--footerbg-color: #2F303A;
}
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
 h1,
 h2,
 h3,
 h4,
 h5,
 p {
     margin: 0px;
 }

 ul {
    margin: 0px;
    padding-left: 0px;
 }             
 img {
    display: block;
 }

/*------------------------ Логотип сайту------------*/

.logo {
    color: var(--logofirst-color) ;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    initial-letter: 0.03em;
    text-decoration: none;
}
.logo-header {
    color: var(--logofirst-color);
    font-weight: 700;
}
.logo {
    color: var(--accent-color);
    font-weight: 700;
}

/*--------------- Навігація сайту----------*/
  

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

/*------------------------------ Підкреслення шапки--------------------------- */
 .section-header {
    border-bottom: 1px solid #f1f1f1;
    
}


.list {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.first-nav {
    display: flex;
    align-items: center;

}
.first-nav .logo {
    margin-right: 93px;
}
.site-nav,
.info-about {
    display: flex;
}
.site-nav .link,
.info-about .link { 
display: block;
}
.site-nav .main-nav {
    margin-right: 50px;
}
.info-about .main-nav:not(:last-child) {
    margin-right: 50px;
}

.info-about {
    margin-left: auto;
    margin-right: 0px;
}
.info-about .menu-select {
    margin-right: 30px;
}

.link {
    display: flex;
    align-items: center;
}


.site-nav .link, .info-about .link {
color: var(--primary-text-color);
font-family: 'Roboto' sans-serif;
display: block;
padding-top: 32px;
padding-bottom: 32px;
text-decoration: none;
text-transform: none;
margin-bottom: 0;
margin-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.info-about .link {
    color: var(--ptext-color);
    display: flex;
    align-items: center;
}



.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color) ;
}

.site-nav .active {
    color: var(--accent-color);
    background-color: var(--button-color);
}
 .info-about .main-nav {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
 }


.info-about .link:hover, 
.info-about .link:focus {
    color: var(--accent-color);
}

.info-icon,
.info-header {
   display: inline-block;
    fill: currentColor;
    margin-right: 10px;

    
}

.main-nav .active {
    position: relative;
}
.main-nav .link::after {
    content: "";
    position:absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%) scaleX(0.3);
    display: block;
    width: 95%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
}
.main-nav .link:hover::after,
.main-nav .link:focus::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
}

/*------------------- Герой----------------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}
 .overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
     background-image:linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
     ), url(../images/studiophoto1/webstudio.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   
}


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--herobg-color); 
}

.container-hero {
    text-align: center;

}
.hero-title {
    margin-bottom: 30px;
    color: var(--button-color) ;
    font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: var(--button-color);
}



/*---------------------Переваги---------------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.line {
    color: var(--logofirst-color) ;
    font-weight: 700;
    margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
}


 /* .benefits-group::before {
    content:"";
    width: 70px;
    height:70px;
    background-size: contain;
    background-image: url("https:/images/icons/antena.svg");
} */

.text-line {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
}

.title {
content-visibility: hidden;
}

 .container .benefits-line {
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: var(--ptext-color);
}
/* ----------------------------Переваги-Іконки------------------------------ */
.text-size {
    margin-right: 30px;
}

.text-nodestart {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}
.text-nodestart::before {
    content: "";
    width: 270px;
    height: 120px;
    background-size: auto;
    background-image: url(../images/icons/antena.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

 .text-nodecenter::before {
        content: "";
        width: 270px;
        height: 120px;
        background-size: auto;
        background-image: url(../images/icons/clock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;

 }
 .text-nodecenter {
     display: inline-flex;
     flex-direction: column;
     align-items: center;
 }

 .text-nodemiddle::before {
    content: "";
    width: 270px;
    height: 120px;
    background-size: auto;
    background-image: url(../images/icons/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
 }
 .text-nodemiddle {
    display: inline-flex;
        flex-direction: column;
        align-items: center;
 }
.text-nodefinish::before {
        content: "";
        width: 270px;
        height: 120px;
        background-size: auto;
        background-image: url(../images/icons/astronaut.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
}
.text-nodefinish {
    display: inline-flex;
        flex-direction: column;
        align-items: center;
}

.benefits-line .text-node {
    min-width: 270px;
}
.benefits-line .text-node:not(:last-child) {
    margin-right: 30px;
}
/*------------------------Чим ми займаємося--------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.section-title {

    padding-bottom: 94px;
}

.section-titlework {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;
        
        color: var(--primary-text-color);
}
.project {
    display: flex;

}

.project .photo-work {
margin-right: 30px;
}


.photo-work {
    position: relative;
}

.input-column {
    position: absolute;
    bottom: 0 px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(47, 48, 58, 0.4);
}
.input-text {
    text-transform: uppercase;
    text-align: center;
    color: var(--button-color);
}

/*---------------------- Команда------------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.ourteam-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.team-border {
    background-color: #F5F4FA ;
}
.section-titleabout {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;

font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
.employee {
    display: flex;
}
/*----------------------------------- Посилання на соціальні мережі в секції Наша команда-----------------------  */
.socials {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.group-center {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

}


 .socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #afb1b8;
    background-color: var(--button-color);

    outline: 2px solid transparent;
    outline-offset: -2px;
    
 }

 .socials-link:hover,
 .social-link:focus {
    color: var(--button-color);
    background-color: var(--accent-color);

}


 .socials-icon {
    fill: currentColor;
 }
 /*--------------------------------------------------------------------------- */

.team-border {
    margin-right: 30px;
    background-color: var(--button-color);
    border-bottom: 2px solid #afb8b1;
    border-radius: 4px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.team-member {
    margin-bottom: 10px;
    color: var(--primary-text-color) ;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
    
}

.photo-team {
    margin-bottom: 30px;
}
.group-center {
text-align: center;
}
.work {
    margin-bottom: 16px;
    font-weight: 400;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
    
        color: var(--ptext-color);
}

/*--------------------------------------Секція Постійні клієнти------------------------------*/
.container {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
}
.clients-section {
padding-top: 94px;
padding-bottom: 94px;
}
.customers {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        color: #212121;
}

.regularclients-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
.regularclients-list:not(:last-child) {
    margin-right: 0px;
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92px;
    min-width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px; 
}
 
.client-icon {
    display:  inline-flex;
    align-items: center;

}

.number-client:not(:last-child) {
    margin-right: 30px;
}


.clients-link {
    fill: #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

/*---------------------------Кнопка---------------------------------*/
.buttonpage {
    color: var(--button-color);
    background-color: var(--accent-color);
    font-weight: 700;
    display: inline-block;
    min-width: 216px;
        font-size: 16px;
        line-height: calc(30/16);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        border: 1px solid var(--accent-color);
        border-radius: 2px;
}
.buttonpage {
    cursor: pointer;
}
/*------------------------- Підвал сторінки-------------------------------*/
.container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;


}

.section-number {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footerbg-color);
}
.footer-info .element {

  text-decoration: none;
}

.element {
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
}

.footer-info .element:hover,
.footer-info .element:focus{
    color: var(--button-color);
}
.footer-info {


    background-color: var(--footerbg-color);
}
.footer-info .contacts {
    margin-bottom: 9px;
}
.footer-info .contacts:last-child {
    margin-bottom: 0px;
}

.button-second {
    color: var(--accent-color);
    margin-bottom: 20px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        text-decoration: none;
}

.logo-footer {
    color: var(--button-color);
}

  /*--------------------------- Приєднуйтесь посилання на соцмережі в підвалі ----------------------- */

.jointoday {
    display:inline-block;
    align-items: flex-start;
    flex-direction: column ;
}
.jointoday-title {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;

}
.socialsgroup {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

 .connect-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
     border-radius: 50px;
     color: var(--button-color);
     background-color: #3b3c49;

     outline: 2px solid transparent;
     outline-offset: -2px;

 }

.connect-link:hover,
.connect-link:focus:focus {
    color: var(--button-color);
    background-color: var(--accent-color);

}


/*------------------------Сторінка Портфоліо--------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

 
 .work-element {
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .nav-second {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: var(--logofirst-color);
   
 }
 .nav-second .menu:hover,
 .nav-second .menu:focus {
    color:var(--button-color);
    background-color: var(--accent-color);
    border: transparent;
    border-radius: 2px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }

 .menu {
    border: transparent;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        text-align: center;
        letter-spacing: 0.03em;
 }
 .button-type .first {
    min-width: 73px;
 }
.button-type .second {
    width: 125px;
}
.button-type .third {
    width: 112px;
}
.button-type .fourth {
    width: 103px;
}
.button-type .fifth {
    width: 130px;
}

 .about-portfolio {
    content-visibility: hidden;
 } 
 .exstra {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    

 }
 
 .post-example {
    display: block;
 }
 .post-example:hover,
 .post-example:focus {
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }


.example .title {
    margin-bottom: 4px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        content-visibility: visible;
    
        color: var(--logofirst-color);
}

.example .worktype {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
    
        color: var(--ptext-color);
}


.experience {
    display: flex;
    flex-wrap: wrap;

}
.example {

    margin-right: 30px;
    margin-bottom: 30px;


} 


.example:nth-child(3n) {
    margin-right: 0px;
}
.example:nth-last-child(-n+3) {
    margin-bottom: 0px;
}


.example .team-thumb {
    position: relative;
    overflow: hidden;
}

.secondoverlay {
    position: absolute;
    top: 0;
    left: 0;
    transform:translateY(100%);
    width: 100%;
    height: 100%;
    padding: 63px 25px;
    background-color: var(--accent-color);
    background-color: var(--accent-color);
    backdrop-filter: blur(3px);
    
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 0;
    
}
.icon-title {
    display: flex;
     align-content: center;
    justify-content: center;
    color: var(--button-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28/18);
        letter-spacing: 0.03em;
}
.post-example:hover .secondoverlay {
    transform: translateY(0);
} 

/*---------------------------------- Modal window---------------------- */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    background-color: transparent;
    backdrop-filter: blur(2px);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

} */
