:root {
--primary-text-color: #212121;
--ptext-color: #757575;
--accent-color: #2196F3;
--logofirst-color: #000000;
--button-color: #FFFFFF;
--buttonbg-color: #2196F3;
--herobg-color: #2F303A;
--footerbg-color: #2F303A;
}
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

/*------------------------ Логотип сайту------------*/
*/ 
.logo {
    color: var(--logofirst-color) ;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    initial-letter: 0.03em;
}
.logo-header {
    color: var(--logofirst-color);
    font-weight: 700;
}
.logo {
    color: var(--accent-color);
    font-weight: 700;
}

/*--------------- Навігація сайту----------*/
.list {
    list-style: none;
}

.site-nav .link, .info-about .link {
color: var(--primary-text-color);
font-family: 'Roboto' sans-serif;
text-decoration: none;
text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.info-about .link{
    color: var(--ptext-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color) ;
}
.info-about .link:hover, 
.info-about .link:focus {
    color: var(--accent-color);
}
/*------------------- Герой----------------------------------*/
.hero-title {
    color: var(--button-color) ;
    font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
}
.hero {
    background-color: var(--herobg-color);
}

/*---------------------Переваги---------------------------------*/
.list {
    list-style: none;
}
.line {
    color: var(--logofirst-color) ;
    font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.benefits-line {
    list-style: none;
    color: var(--ptext-color);
}
/*------------------------Чим ми займаємося--------------------*/
.list {
    list-style: none;
}

.section-titlework {
    font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;
        
        color: var(--primary-text-color);
}


/*---------------------- Команда------------------------------*/
.list {
    list-style: none;
}
.section-titleabout {
font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.team-member {
    color: var(--primary-text-color) ;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
    
}
.work {
    font-weight: 400;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
    
        color: var(--ptext-color);
}
/*---------------------------Кнопка---------------------------------*/
.buttonpage {
    color: var(--button-color);
    background-color: var(--buttonbg-color);
    font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);
}
/*------------------------- Підвал сторінки-------------------------------*/


.footer-info .element {
  color: var(--ptext-color);
  text-decoration: none;
}

.element {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
}

.footer-info .element:hover,
.footer-info .element:focus{
    color: var(--button-color);
}
.list {
    list-style: none ;
}
.logo-footer {
    color: var(--button-color);
    
}
.adress-number {
    background-color: var(--footerbg-color);
}
/*------------------------Сторінка Портфоліо--------------------*/
 /* Текст заголовків - #212121;
 текст параграфів - #757575; */


.example .title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
    
        color: var(--logofirst-color);
}
.example .worktype {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
    
        color: var(--ptext-color);
}



