.container-benefits {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-line__line {
    color: var(--logofirst-color);
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-line__text-line {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

.benefits-section__title {
    content-visibility: hidden;
}

.container-benefits .benefits-line {
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: var(--ptext-color);
}
