.container-clients {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-section__customers {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    color: #212121;
}
.regularclients-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.regularclients-list:not(:last-child) {
    margin-right: 0px;
}

.regularclients-list__clients-link {

    @include transitive (fill, border, border-radius);
    fill: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92px;
    min-width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    // transition-property: fill, border, border-radius;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.regularclients-list__client-icon {
    display: inline-flex;
    align-items: center;

}

.regularclients-list__number-client:not(:last-child) {
    margin-right: 30px;
}



.regularclients-list__clients-link--link {
    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }
}
