.container-footer {
    @extend .container;
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.section-number {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footerbg-color);
}

// .button-second {
//     color: var(--accent-color);
//     margin-bottom: 20px;
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: calc(31/26);
//     letter-spacing: 0.03em;
//     text-decoration: none;
// }
