.container-footer {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    // flex-direction: row;
    align-items: baseline;

    @media screen and (min-width: 480px) {
        display: block;
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: baseline;
        text-align: justify;
    }
}

.section-number {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footerbg-color);
}
.container-baseline {
    // display: flex;
    // align-items: baseline;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }
}
.second-baseline {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-content: center;
        justify-content: baseline;
        

    }
}

// .button-second {
//     color: var(--accent-color);
//     margin-bottom: 20px;
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: calc(31/26);
//     letter-spacing: 0.03em;
//     text-decoration: none;
// }
