.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/studiophoto1/webstudio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--herobg-color);
}

.container-hero {
    text-align: center;

}

.hero__hero-title {
    margin-bottom: 30px;
    color: var(--button-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--button-color);
}
.buttonpage {
    color: var(--button-color);
    background-color: var(--accent-color);
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    cursor: pointer;
}

.hero__buttonpage {
    min-width: 216px;
    padding-left: 32px;
    padding-right: 32px;
}
