.container-navsecond {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}


.work-element {
    padding-top: 94px;
    padding-bottom: 94px;
}

.nav-second {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: var(--logofirst-color);

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-second .nav-second__menu--blue {
    &:hover,
    &:focus {
            color: var(--button-color);
            background-color: var(--accent-color);
            border: transparent;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.nav-second__menu {
    border: transparent;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-second__button-type .first {
    min-width: 73px;
}

.nav-second__button-type .second {
    width: 125px;
}

.nav-second__button-type .third {
    width: 112px;
}

.nav-second__button-type .fourth {
    width: 103px;
}

.nav-second__button-type .fifth {
    width: 130px;
}

.work-element__about-portfolio {
    content-visibility: hidden;
}
