.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.ourteam-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.employee__team-border {
    background-color: #F5F4FA;
}

.ourteam-section__section-titleabout {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;

    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
.employee {
    display: flex;
}
